.navigation {
    list-style: none;
    padding: 0;
}
.navigation-link {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
}


.button {
    line-height: 20px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    border: none;
    padding: 10px 20px;
    background: #4592FF;
    border-radius: 20px;
    color: #FFF;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.button-icon{
    margin-right: 10px;
}